.NavList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.NavList .NavItem {
  margin: 0 5px;
}

.NavItem .NavLink {
  color: white;
  text-decoration: none;
  opacity: 0.8;
  transition: 0.2s;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 20px;
  position: relative;
}

.NavItem .NavLink:hover,
.NavItem .NavLinkActive {
  color: #ff53e0;
  opacity: 1;
}

.NavItem .NavLink::after,
.NavItem .NavLink::before {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #ff53e0;
  bottom: 0;
  transition: 0.3s;
}
.NavItem .NavLink::before {
  right: 50%;
  border-radius: 3px 0 0 3px;
}
.NavItem .NavLink::after {
  border-radius: 0 3px 3px 0;
  left: 50%;
}
.NavItem .NavLink:hover:after,
.NavItem .NavLink:hover::before,
.NavItem .NavLinkActive::after,
.NavItem .NavLinkActive::before {
  width: 50%;
}

.LogoNavBox {
  display: flex;
  align-items: center;
}
.LogoNavBox .LogoImg {
  border-radius: 5px;
  width: 60px;
  height: 60px;
}
.LogoNavBox .LogoTitle {
  padding: 0 20px;
  color: white;
}
