.HomePage {
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(-90deg, rgb(103, 61, 149), rgb(49, 12, 96));
  display: flex;
  flex-direction: column;
}
.HomePage section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  flex-direction: row-reverse;
  flex: 1;
}
.HomePage .HomePic {
  width: 850px;
  height: auto;
  transform: translateY(-10px);
  animation: AnimJumping 4s infinite linear;
}

@keyframes AnimJumping {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@media only screen and (max-width: 1450px) {
  .HomePage .HomePic {
    width: 600px;
  }
}
@media only screen and (max-width: 1100px) {
  .HomePage section {
    flex-direction: column;
  }
}
@media only screen and (max-width: 700px) {
  .HomePage .HomePic {
    width: 400px;
  }
}
